@code {
    [Parameter]
    public ModtblGenerator Generator { get; set; }
}

<h3>Generator Details</h3>
<form readonly>
    <div style="width: 100%;">
        <div style="display: flex; flex-wrap: wrap;">
            <div style="flex: 1 1 50%;">
                <strong>Gen #:</strong> @Generator.GenNum
            </div>
            <div style="flex: 1 1 50%;">
                <strong>Gen Name:</strong> @Generator.GenName
            </div>
            <div style="flex: 1 1 50%;">
                <strong>Street:</strong> @Generator.Street
            </div>
            <div style="flex: 1 1 50%;">
                <strong>City:</strong> @Generator.City
            </div>
            <div style="flex: 1 1 50%;">
                <strong>Province:</strong> @Generator.Province
            </div>
            <div style="flex: 1 1 50%;">
                <strong>Country:</strong> @Generator.Country
            </div>
            <div style="flex: 1 1 50%;">
                <strong>Postal Code:</strong> @Generator.PostalCode
            </div>
            <div style="flex: 1 1 50%;">
                <strong>Waste Class:</strong> @Generator.WasteClasses
            </div>
        </div>
    </div>
</form>