@page "/"
@inject SerOHRDatabase serOHRDatabase
@using Telerik.DataSource
@using Telerik.DataSource.Extensions

<div>Generator Name Search:</div>

<TelerikMultiColumnComboBox TItem="ModtblGenerator"
                            OnRead="@ReadItems"
                            TValue="int"
                            ValueField="@nameof(ModtblGenerator.Id)"
                            TextField="@nameof(ModtblGenerator.GenName)"
                            Filterable="true"
                            @bind-Value="@intSelectedGenID"
                            ItemHeight="@ItemHeight"
                            ListHeight="@ListHeight"
                            PageSize="@PageSize"
                            ScrollMode="@DropDownScrollMode.Virtual"
                            Width= "250px"
                            OnChange="@GetSelectedGeneratorRecord"
>
    <MultiColumnComboBoxColumns>
        <MultiColumnComboBoxColumn Field="@nameof(ModtblGenerator.GenName)"
                                   Title="Gen Name"
                                   HeaderClass="header"
                                   Class="genNameCell"
                                   Width="250px"></MultiColumnComboBoxColumn>
        <MultiColumnComboBoxColumn Field="@nameof(ModtblGenerator.GenNum)"
                                   Title="Gen Num"
                                   HeaderClass="header"
                                   Width="150px"></MultiColumnComboBoxColumn>
        <MultiColumnComboBoxColumn Field="@nameof(ModtblGenerator.Street)"
                                   Title="Street"
                                   HeaderClass="header"
                                   Width="200px"></MultiColumnComboBoxColumn>
        <MultiColumnComboBoxColumn Field="@nameof(ModtblGenerator.City)"
                                   Title="City"
                                   HeaderClass="header"
                                   Width="150px"></MultiColumnComboBoxColumn>
        <MultiColumnComboBoxColumn Field="@nameof(ModtblGenerator.Province)"
                                   Title="Province"
                                   HeaderClass="header"
                                   Width="150px"></MultiColumnComboBoxColumn>
        <MultiColumnComboBoxColumn Field="@nameof(ModtblGenerator.PostalCode)"
                                   Title="Postal Code"
                                   HeaderClass="header"
                                   Width="150px"></MultiColumnComboBoxColumn>
    </MultiColumnComboBoxColumns>
</TelerikMultiColumnComboBox>

@if (selectedGenerator != null)
{
	<ComGenerator Generator="@selectedGenerator" />
}

@* <ComGenerator Generator="@GetGenerator" />
 *@
<p>Selected product Id: @intSelectedGenID</p>

@code {

    List<ModtblGenerator> lstGenerators;
    int intSelectedGenID;
    ModtblGenerator selectedGenerator;
    public string ListHeight { get; set; } = "520px";
    public int ItemHeight { get; set; } = 28;
    public int PageSize { get; set; } = 25;

    private void GetSelectedGeneratorRecord()
    {
        selectedGenerator = lstGenerators.Find(x => x.Id == intSelectedGenID);
    }

    //**************************************** Combo Events
    protected async Task ReadItems(MultiColumnComboBoxReadEventArgs args)
    {
        await LoadData();
       
        var result = lstGenerators.ToDataSourceResult(args.Request);
        args.Data = result.Data;
        args.Total = result.Total;
    }

    private async Task LoadData()
    {
        if (lstGenerators == null)
        {
            lstGenerators = await serOHRDatabase.GetAllGenerators();
        }
    }
}

<style>
    .header {
        font-weight: bold;
        color: black;
    }

    .genNameCell {
        color: darkblue;
        font-weight: bolder;
    }
</style>