@page "/"
@inject SerOHRDatabase serOHRDatabase
@using Microsoft.AspNetCore.Components.Web
@* This library is for Lists *@
@using System.Collections.Generic

<h3>Find Generator(s)</h3>

@* Make upper after exit. *@
<span @onkeyup="EnterTabFetchFirstChars">
    <TelerikTextBox @ref="@TxtFirstChars"
                    @bind-Value="@strFirstChars"
                    OnChange="SetUpperOnChange"
                    Placeholder="Enter First Characters of Generator Name"
                    MaxLength="20" Width="20ch">
    </TelerikTextBox>
</span>

<TelerikButton OnClick="FetchGenerators">
    Get Generators
</TelerikButton>

@* Enable Delete Button if there are characters to delete *@
<TelerikButton Icon="@FontIcon.Cancel" Enabled="@(!string.IsNullOrEmpty(strFirstChars))"
               OnClick="DeleteFirstChars">
</TelerikButton>

<br />
<br />

@if (lstGenerators != null)
{
    <ComGenerators Generators="@lstGenerators" FirstChars="strFirstChars"/>
}
else if (blnFetching)
{
    <p>Loading...</p>
}
else if (blnError)
{
    <p>Error fetching Generators. Please try again.</p>
}



@* Make upper case immediately.  Cannot Bind with Value Changed
<TelerikTextBox @ref="@TxtFirstChars"
                Value="@strFirstChars"
                ValueChanged="SetUpperValueChanged"
                Placeholder="Enter First Characters of Generator Name"
                MaxLength="20" Width="20ch">
</TelerikTextBox> *@

@* <input type="text" @bind="@strFirstChars" @onkeyup="EnterTabFetchFirstChars" MaxLength="20" Width="20ch  /> *@




