@page "/practiceTelerik"

@using Telerik.DataSource.Extensions
@using Telerik.DataSource;

<TelerikGrid Data="@GridData"
             Sortable="true"
             FilterMode="@GridFilterMode.FilterRow"
             Height="460px" RowHeight="60"
             PageSize="10"
             ScrollMode="@GridScrollMode.Virtual"
             OnRead="@OnGridRead">
    <GridColumns>
        <GridColumn Field="@nameof(Product.ID)" />
        <GridColumn Field="@nameof(Product.Name)" />
    </GridColumns>
</TelerikGrid>

<p>
    Total rows in the Grid: @GridTotal.ToString()
</p>

@code {
    public List<Product> Data { get; set; }
    public List<Product> GridData { get; set; }
    public int GridTotal { get; set; }

    protected override void OnInitialized()
    {
        Data = new List<Product>();
        for (int i = 1; i <= 500; i++)
        {
            Data.Add(new Product()
                {
                    ID = i,
                    Name = "Product " + i.ToString()
                });
        }
    }

    protected void OnGridRead(GridReadEventArgs args)
    {
        var datasourceResult = Data.ToDataSourceResult(args.Request);
        GridData = (datasourceResult.Data as IEnumerable<Product>).ToList();
        GridTotal = datasourceResult.Total;
    }

    public class Product
    {
        public int ID { get; set; }
        public string Name { get; set; }
    }
}